<div class="container-fluid mt-4" style="width: 95%;">
    <h2>Gestión de Clientes</h2>
    <div class="d-flex justify-content-between mb-3">
        <button class="btn btn-primary" (click)="toggleForm()">Nuevo Cliente</button>
    </div>
 <table class="table table-striped table-bordered mt-3">
    <thead class="thead-light">
        <tr>
            <th>ID</th>
            <th>Nombre</th>
            <th>Apellido</th>
            <th>Email</th>
            <th>Teléfono</th>
            <th>Dirección</th>
            <th *ngIf="mostrarAcciones">Acciones</th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor="let cliente of clientes">
            <td>{{ cliente.id }}</td>
            <td>{{ cliente.nombre }}</td>
            <td>{{ cliente.apellido }}</td>
            <td>{{ cliente.email }}</td>
            <td>{{ cliente.telefono }}</td>
            <td>{{ cliente.direccion }}</td>
            <td *ngIf="mostrarAcciones">
                <button class="btn btn-warning btn-sm" (click)="editCliente(cliente)">Editar</button>
                <button class="btn btn-danger btn-sm" (click)="deleteCliente(cliente.id)">Eliminar</button>
            </td>
        </tr>
    </tbody>
 </table>
    <div *ngIf="showForm" style="margin-top: 20px;">
        <h3>{{ textoModal }}</h3>
    <form *ngIf="clienteForm" [formGroup]="clienteForm" (ngSubmit)="onSubmit()">
            <input type="hidden" readonly formControlName="id">
    
        <div class="form-group">
            <label for="nombre">Nombre</label>
            <input id="nombre" class="form-control" formControlName="nombre" minlength="2" maxlength="30">
        </div>
        <div class="form-group">
            <label for="apellido">Apellido</label>
            <input id="apellido" class="form-control" formControlName="apellido" minlength="2" maxlength="30">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input id="email" type="email" class="form-control" formControlName="email">
        </div>
       <div class="form-group">
           <label for="telefono">Teléfono</label>
           <input id="telefono" class="form-control" formControlName="telefono" minlength="2" maxlength="30">
       </div>
       <div class="form-group">
           <label for="direccion">Dirección</label>
           <input id="direccion" class="form-control" formControlName="direccion" minlength="2" maxlength="100">
       </div>
       <button type="submit" class="btn btn-primary" [disabled]="clienteForm.invalid">Guardar</button>
   </form>
</div>
